body {
    background: linear-gradient( to right, #58abef52, #ff84003f, #ffffff);
    /* ASTA E IMPORTANTA SA NU POATA USERUL SA IA TEXT DE PE ORICE TEXT */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subscription-container {
    padding: 5px;
}

.subscription-container .list-group {
    padding: 2px;
}

.subscription-container .list-group .list-group-item {
    padding: 2px 5px;
}

.list-group-item {
    border: 0px solid transparent;
    background-color: transparent;
}

.subscription-container .list-group-item .icon-wrapper {
    padding: 5px;
    color: #00BE52;
}

.subscription-container .list-group-item .text-wrapper {
    padding: 5px;
    font-family: 'Roboto-Regular';
    color: #17194C;
}


/* SUBSCRIPTION-CARD */

.subscription-card-wrapper {
    width: 161.2px;
    height: 132.6px;
    border-radius: 70% / 15%;
    border-radius: 15.599999px 0px 15.599999px 15.599999 0px 15.599999;
    background: linear-gradient(to right top, #0C8B9F, #20D27B);
    -webkit-box-shadow: 0px 3px 13px 0px rgba(22, 59, 157, 0.5);
    -moz-box-shadow: 0px 3px 13px 0px rgba(22, 59, 157, 0.5);
    box-shadow: 0px 3px 13px 0px rgba(22, 59, 157, 0.5);
}

.subscription-card-wrapper .text-wrapper .price {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36.4px;
    color: #FFFFFF;
}

.subscription-card-wrapper .text-wrapper .text {
    font-family: 'Roboto-Regular';
    font-size: 20.8px;
    color: #FFFFFF;
    font-weight: 400;
    opacity: 80%;
}


/* QUESTIONS */

.questions-container {
    background: linear-gradient(#242835, #1D2029);
    padding: 15px;
    border-radius: 12px;
    width: 370px;
    margin: 10px;
    color: #ffffff;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(17, 112, 218, 0.5);
    -moz-box-shadow: 0px 2px 12px 0px rgba(17, 112, 218, 0.5);
    box-shadow: 0px 2px 12px 0px rgba(17, 112, 218, 0.5);
}

.questions-container .list-group-item .title {
    font-family: 'Roboto-Medium';
    font-size: 16px;
    padding: 10px 0px;
}

.questions-container .list-group-item :first-child {
    padding-top: 0px;
}

.questions-container .list-group-item .text {
    font-family: 'Roboto-Light';
    font-size: 14px;
    color: #E8E7F5;
}


/* ITEM-BOX-CONTAINER */

.item-box-container {
    width: 431px;
    border-radius: 12px;
    margin: 20px 0px;
    padding: 10px 15px 10px 15px;
    background-color: #FFFFFF;
    border: 2px solid transparent;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(22, 59, 157, 0.5);
    -moz-box-shadow: 0px 2px 10px 0px rgba(22, 59, 157, 0.5);
    box-shadow: 0px 2px 10px 0px rgba(22, 59, 157, 0.5);
}

.item-box-container .text-container {
    padding: 1px 5px 1px 10px;
}

.item-box-container .text-style {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
}

.item-box-container .text-container .text {
    color: #41436B;
    width: 80%;
}

.item-box-container .price {
    color: #717084;
    text-align: right;
    width: 20%;
}

.item-box-container .text-container .sub-text {
    color: #717084;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    padding: 5px 0px;
}

.item-box-container .checkbox-wrapper {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    background-color: #F2FAFD;
    border-radius: 8px;
    border: 1px solid #116fda3a;
    cursor: pointer;
    position: relative;
}

.item-box-container .radiobox-wrapper .circle:hover,
.item-box-container .checkbox-wrapper:hover {
    -webkit-box-shadow: 0px 2px 10px 0px rgba(22, 59, 157, 0.5);
    -moz-box-shadow: 0px 2px 10px 0px rgba(22, 59, 157, 0.5);
    box-shadow: 0px 2px 10px 0px rgba(22, 59, 157, 0.5);
}

.item-box-container .checkbox-wrapper .icon-style {
    position: absolute;
    top: 7px;
    left: 6.5px;
}

.item-box-container .checkbox-wrapper .checkbox-icon-add {
    color: #1170DA;
}

.item-box-container .checkbox-wrapper .checkbox-icon-check {
    color: #FFFFFF;
}


/* ITEM-RADIOBOX-CONTAINER */

.item-box-container .radiobox-wrapper .circle {
    width: 30px;
    height: 30px;
    border: 1px solid #7170843d;
    background-color: #F2FAFD;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-box-container .radiobox-wrapper .circle .inner-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #53849A;
    opacity: 40%;
}


/* aici width-ul nu este respectat am considerat ca trebuie mai mare era 54*/

.item-box-container .percentage-container {
    width: 65px;
    height: 42px;
    /* margin: 0px 10px; */
    border-radius: 8px;
}

.item-box-container .percentage-container .percentage {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    color: #FFFFFF;
}

.item-box-container .currency {
    font-family: 'Roboto-Regular';
    font-size: 12px;
    color: #717084;
    padding-top: 5px;
    font-weight: 400;
}

.red-color {
    background: linear-gradient( to right top, #E33E40, #FD9164);
}

.violet-color {
    background: linear-gradient( to right top, #6E19DD, #9A8BFE);
}

.item-box-check-background {
    background: linear-gradient( #9CD47D, #00BE52);
    border: 1px solid #9CD47D !important;
}

.center-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-color {
    color: #1170DA !important;
}

.padding-left-10 {
    padding-left: 10px;
}


/* INPUTS */

.dropdown-input-container .dropdown-input-style,
.dotted-input-container .dotted-input-style,
.input-container .input-style {
    width: 425px;
    height: 47px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #7EA1C7;
    font-family: 'Roboto-Regular';
    font-weight: 400;
    color: #41436B;
    font-size: 16px;
    margin: 5px 0px;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(22, 59, 157, 0.5);
    -moz-box-shadow: 0px 2px 8px 0px rgba(22, 59, 157, 0.5);
    box-shadow: 0px 2px 8px 0px rgba(22, 59, 157, 0.5);
}

.dropdown-input-container .dropdown-input-style,
.dotted-input-container .dotted-input-style:focus,
.input-container .input-style:focus {
    outline: none;
    box-shadow: 0 0 15px #7EA1C7;
}

.dotted-input-container {
    background-color: #ffffff;
    padding: 15px;
    margin: 5px 0px;
    border: 1px dashed #1170DA;
    width: 425px;
    border-radius: 8px;
}

.dotted-input-container .dotted-input-style {
    width: 394px;
}

.dropdown-input-container select option {
    margin: 40px;
    border-radius: 16px;
}

.date-input-container {
    width: 425px;
}

.date-input-container .date-input {
    border-radius: 8px !important;
}


/* STEPS-CONTAINER */

.steps-container {
    margin-bottom: 20px;
}

.steps-container .step-wrapper {
    position: relative;
}

.steps-container .step-wrapper .last-step-text {
    position: absolute;
    right: 0px;
}

.steps-container .step-wrapper .text {
    color: #17194C;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    font-weight: 400;
}

.steps-container .step-wrapper .circle {
    width: 40px;
    height: 40px;
    border: 1px solid #7c7d83;
    background-color: transparent;
    border-radius: 50%;
}

.steps-container .step-wrapper .circle .inner-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #1170DA;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.steps-container .step-wrapper .line-wrapper {
    padding: 0px 10px;
}

.steps-container .step-wrapper .line-wrapper .line {
    width: 140px;
    height: 4px;
    border-radius: 3px;
    background-color: #1170DA;
    padding: 0px 5px;
}

.no-border {
    border: 1px solid transparent!important;
}

.bold-700 {
    font-family: 'Roboto'!important;
    font-size: 18px!important;
    font-weight: 700!important;
}

.gray-color {
    background-color: #41436b52 !important;
}

.green-color {
    background-color: #5FC13D !important;
}

.opacity-80 {
    opacity: 80%;
}

.dark-violet {
    background-color: #41436B!important;
}

.d-none-custom {
    display: none;
}