.main-content {
    margin-top: 74px;
}
.info-container {
    padding: 0;
}
.info-container-wrapper .info-container {
    max-width: 426px;
}
.info-container-wrapper .info-container .steps-container {
    max-width: 424px;
    height: 65px;
    margin-bottom: 40px;
}

.photo-container-wrapper .photo-container {
    height: 602px;
    width: 424px;
    background-color: orangered;
    margin-top: 105px;
}

/* INPUTS */

.dotted-input-container .dotted-input-style,
.input-container .input-style {
    width: 425px;
    height: 47px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #7ea1c7;
    font-family: "Roboto-Regular";
    font-weight: 400;
    color: #41436b;
    font-size: 16px;
    margin: 5px 0px;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(22, 59, 157, 0.5);
    -moz-box-shadow: 0px 2px 8px 0px rgba(22, 59, 157, 0.5);
    box-shadow: 0px 2px 8px 0px rgba(22, 59, 157, 0.5);
}

.dotted-input-container .dotted-input-style:focus,
.input-container .input-style:focus {
    outline: none;
    box-shadow: 0 0 15px #7ea1c7;
}

.dotted-input-container {
    background-color: #ffffff;
    padding: 15px;
    border: 1px dashed #1170da;
    width: 425px;
    border-radius: 8px;
    margin: 5px auto;
}

.dotted-input-container .dotted-input-style {
    width: 394px;
}

/* checkbo */

/* Customize the label (the container) */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 14px;
    color: #41436b;
    font-family: "Roboto";
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 426px;
    margin: auto;
}
.container-checkbox:not(:last-child) {
    margin-bottom: 15px;
    margin-top: 21px;
}

.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    border: 1px solid #7ea1c7;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(22, 59, 157, 0.5);
    -moz-box-shadow: 0px 2px 8px 0px rgba(22, 59, 157, 0.5);
    box-shadow: 0px 2px 8px 0px rgba(22, 59, 157, 0.5);
}
/* .container-checkbox:hover input ~ .checkmark {
    background-color: #1170DA;
    opacity: 0.6;
} */
.container-checkbox input:checked ~ .checkmark {
    background-color: #1170da;
}

.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.container-checkbox .checkmark:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mt-142 {
    margin-top: 142px;
}
@media only screen and (max-width: 576px) {
    .dotted-input-container .dotted-input-style,
    .input-container .input-style,
    .dotted-input-container {
        width: 335px;
    }
    .dotted-input-container .dotted-input-style {
        width: 303px;
    }
    .container-checkbox {
        max-width: 335px;
    }
}
