
/* content grid styles responsive */
.main-content {
    margin-top: 80px;
}
.main-content .main-content-title {
    color: #f52865;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500px;
    line-height: 24px;
}
.main-content .main-content-subtitle {
    color: #1e2843;
    font-size: 25px;
    font-weight: 700;
    line-height: 24px;
}
.main-content .main-content-body .questions-container {
    max-width: 370px;
    margin-top: 80px;
}
.main-content .main-content-body .subscription-container {
    max-width: 430px;
}
.main-content .main-content-body .subscription-container h3 {
    color: #252d3c;
    margin-top: 50px;
    font-size: 18px;
    font-family: "Roboto";
    line-height: 24px;
    font-weight: 500px;
    margin-bottom: 30px;
}
.main-content .main-content-body .subscription-container h3 span {
    color: #717084;
}
.main-content .main-content-body .subscription-container .subscription-boxes {
    margin-bottom: 30px;
}
.subscription-container .subscription-details .headers-container {
    margin-bottom: 50px;
}

/* subscription list */
.subscription-container {
    padding: 5px;
}

.subscription-container .list-group {
    padding: 2px;
}

.subscription-container .list-group .list-group-item {
    padding: 2px 5px;
}

.list-group-item {
    border: 0px solid transparent;
    background-color: transparent;
}

.subscription-container .list-group-item .icon-wrapper {
    padding: 5px;
    color: #00BE52;
}

.subscription-container .list-group-item .text-wrapper {
    padding: 5px;
    font-family: 'Roboto-Regular';
    color: #17194C;
}
/* SUBSCRIPTION-CARD */


.subscription-card-wrapper {
    width: 161.2px;
    height: 132.6px;
    border-radius: 70% / 15%;
    border-radius: 15.599999px 0px 15.599999px 15.599999 0px 15.599999;
    background: linear-gradient(to right top, #0C8B9F, #20D27B);
    -webkit-box-shadow: 0px 3px 13px 0px rgba(22, 59, 157, 0.5);
    -moz-box-shadow: 0px 3px 13px 0px rgba(22, 59, 157, 0.5);
    box-shadow: 0px 3px 13px 0px rgba(22, 59, 157, 0.5);
}
.subscription-card-wrapper .text-wrapper {
    text-align: center;
    padding-top: 20px;
}
.subscription-card-wrapper .text-wrapper .price {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36.4px;
    color: #FFFFFF;
}

.subscription-card-wrapper .text-wrapper .text {
    font-family: 'Roboto-Regular';
    font-size: 20.8px;
    color: #FFFFFF;
    font-weight: 400;
    opacity: 80%;
}


/* questions */
.questions-container {
    background: linear-gradient(#242835, #1D2029);
    padding: 15px;
    border-radius: 12px;
    width: 370px;
    margin: 10px;
    color: #ffffff;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(17, 112, 218, 0.5);
    -moz-box-shadow: 0px 2px 12px 0px rgba(17, 112, 218, 0.5);
    box-shadow: 0px 2px 12px 0px rgba(17, 112, 218, 0.5);
}

.questions-container .list-group-item .title {
    font-family: 'Roboto-Medium';
    font-size: 16px;
    padding: 10px 0px;
}

.questions-container .list-group-item :first-child {
    padding-top: 0px;
}

.questions-container .list-group-item .text {
    font-family: 'Roboto-Light';
    font-size: 14px;
    color: #E8E7F5;
}

/* media queries */

@media only screen and (max-width: 992px) {
    .main-content .main-content-body .questions-container {
        margin: 0 auto;
    }
    .main-content .main-content-body .subscription-container {
        max-width: 370px;
    }
    .main-content .main-content-body .subscription-container {
        margin: 0 auto;
    }
    .subscription-container .subscription-details .headers-container {
        padding: 0;
    }
    .subscription-container .list-group {
        padding: 0;
    }
    .subscription-container .list-group .list-group-item {
        padding: 2px 0px;
    }
    .subscription-container .list-group-item .icon-wrapper {
        padding: 5px 5px 5px 0;
    }
}

@media only screen and (max-width: 576px) {
    .main-content {
        margin-top: 35px;
    }
    .main-content .main-content-body .subscription-container h3 {
        margin-top: 40px;
        margin-bottom: 16px;
    }
    .main-content .main-content-body .subscription-container h3 {
        margin-top: 40px;
        margin-bottom: 16px;
    }
    .subscription-container .subscription-details .headers-container {
        margin-bottom: 32px;
    }
}