.email-error-validation,
.characters-length-error-validation,
.required-error-validation {
    color: #D91020;
    font-family: 'Roboto-Regular';
    font-size: 15px;
}

.error-border {
    border: 1px solid #D91020 !important;
}