body{
    height: 100vh;
}
.modal-overlay {
    display: none;
    position: relative;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
 .modal-container {
    width: 348px;
    height: 505px;
    position: absolute;
    top:101px;
    left:50%;
    transform: translate(-50%);
    border-radius: 14px;
    background-color: #fff;
    border:1px solid #979797;
    z-index: 200;
    padding:20px;
    display: none;
}
 .modal-container .choose-plan {
    color:#F52865;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto';
    line-height: 24px;
}
.modal-container .close {
    width: 16px;
    height: 16px;
    display: flex;
    color:#000000;
    align-items: center;
}
 .modal-container .close:hover,
 .modal-container .close:focus {
    outline: 0;
} 
.modal-container .modal-header-container {
    display: flex;
    margin-top: 16px;
}
.modal-container .modal-header-container .title{
    color:#1E2843;
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 22px;
    line-height: 24px;
}
.modal-container .modal-header-container .subtitle {
    color:#717084;
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
}
.modal-body-container .modal-body-title {
    margin-top: 16px;
    color:#252D3C;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
}
.modal-body-container .modal-body-title span {
    color:#717084;
}

/* item box container popup */

.item-box-container {
    width: 100%;
    padding: 0;
    background-color: #FFFFFF;
}
.item-box-container:not(:first-child) {
    margin: 20px 0px;
}
.item-box-container:not(:last-child) {
    border-bottom: 1px solid #41436B;
}


/* subscription-popup */
.subscription-card-wrapper {
    width: 88px;
    height: 72px;
    border-radius: 70% / 15%;
    border-radius: 15.599999px 0px 15.599999px 15.599999 0px 15.599999;
    background: linear-gradient(to right top, #0C8B9F, #20D27B);
    -webkit-box-shadow: 0px 3px 13px 0px rgba(22, 59, 157, 0.5);
    -moz-box-shadow: 0px 3px 13px 0px rgba(22, 59, 157, 0.5);
    box-shadow: 0px 3px 13px 0px rgba(22, 59, 157, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}


/* buton popup */

.modal-body-container .button-popup {
    height: 50px;
    width: 203px;
    background: linear-gradient(to right, #1970dd, #60a7fe);
    border: none;
    border-radius: 25px;
    line-height: 20px;
    display: block;
    margin-left: auto;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto";
    z-index: 10;
}
.modal-body-container .button-popup:hover,
.modal-body-container .button-popup:focus {
    outline: 0;
    box-shadow: none;
}
.modal-body-container .button-popup span {
    font-weight: 300;
    font-size: 16px;
    margin-left: 15px;
}
@media only screen and (max-width: 576px) {
    .modal-overlay {
        display: block;
        background-color:rgba(0,0,0, .8);
    }
    .modal-container {
        display: block;
    }
}